{% extends 'base.html' %}
{% block title %}Contact Us{% endblock title %}
{% block body %}
<h1  style="position:absolute;top:120px;left:620px;">Contact Us</h1>
<div class="container" style="padding-top:150px;width:750px"  >
<form method="post" action="/contact">
    {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
        </div>
        
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
        </div>      
        
        <div class="form-group">
            <label for="desc">Feedback</label>
            <textarea class="form-control" id="desc" rows="3" name="desc" placeholder="Write something..."></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>


</div>

{% endblock body %}
